.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid #e9e9e9;
  background-color: #fafafa;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 0px 10px 0px;
  cursor: pointer;
  font-family: 'futura-pt', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.active {
  @extend .category;
  color: #3498db;
}